.next-btn {
    background-color: #004171;
    color: #F0F0F0;
    font-family: "Caveat";
    border-radius: 15px;
    padding: .5rem;
    text-align: center;
    width: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.2vw;
    cursor: pointer;
    margin-top: 1.5rem;
    outline: none;
    border: none;

    &:hover {
        background-color: lighten($color: #004171, $amount: 15%);
    }
}

@media (max-width: 600px) {
    .next-btn {
        font-size: 4.2vw;
    }
}